@{
    ViewBag.Title = "A empresa";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Em maio de 1986 é fundada a Conduspar com o intuito de fabricar 
    cabos e condutores elétricos de cobre e alumínio, de baixa e média tensão. 
    Estabelecida inicialmente em Curitiba, a empresa processava 12 toneladas de cobre/mês 
    em uma área de cerca de 1.300 m². Já em 1995 é construída a nova sede da empresa na cidade 
    São José dos Pinhais, na região metropolitana da capital paranaense. Devido ao crescimento da 
    empresa a sede sofre algumas obras de ampliação como a de 2009 chegando a mais de 50 mil metros quadrados.

Com certificado ISO 9001 pelo BVQI (Bureau Veritas Certification), 
    a empresa paranaense investe em pesquisa, infraestrutura e treinamento para 
    fabricar produtos de acordo com as mais rigorosas normas técnicas nacionais e internacionais.  
    Graças a excelência desses produtos a Conduspar aumentou sua gama de clientes atendendo não somente 
    os brasileiros como também países da América Latina como Paraguai, Chile e Peru através de 
    um seleto grupo de representantes.

Possuindo um catálogo com mais de sete mil produtos, a Conduspar tem como 
    principais clientes instaladoras elétricas, construtoras, empresas de engenharia, órgãos 
    públicos e estatais que atestam a qualidade dos produtos da empresa.

Centrando-se na satisfação dos diversos segmentos atendidos, a Conduspar oferece ao cliente produtos que, 
    embora não permaneçam aparentes numa obra, são fundamentais no seu dia a dia, traduzindo segurança e 
    qualidade, atributos dos quais o Grupo Condusa não abre mão. </p>
