@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    FF Cabos<br />
    Rua Dr Murici, 4000 São José dos Pinhais - PR CEP 83015-290<br />
    <abbr title="Fone">P:</abbr>
    41-2589-6325
</address>
