@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FF Cabos</h1>
    <p class="lead">
        Sistema de aplicação de cabos solares em usinas fotovoltaicas que garante a 
        redução do tempo, esforço, mão de obra e custos de instalação de uma usina solar em cerca de 80%.
    </p>
    <p><a href="http://www.conduspar.com.br/?q=pt-br/sistema-hefesto" class="btn btn-primary btn-lg">Ler Mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cabo PROSOLAR ®</h2>
        <p>
            A Linha PROSOLAR® FV está certificada para garantir a operação de parques 
            fotovoltaicos por pelo menos 25 anos, 
            o prazo de máxima eficiência dos painéis fotovoltaicos.
        </p>
        <p><a class="btn btn-default" href="http://www.conduspar.com.br/?q=pt-br/produto/cabo-prosolarr-fv">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cabo destaque</h2>
        <p>
            Os cabos de média tensão Conduspar, fabricados através de catenária e processo de tríplice 
            extrusão, garantem ao produto máxima qualidade e confiabilidade para circuitos de 
            entrada/distribuição de energia. Para classe de tensão até 35 kV.
        </p>
        <p><a class="btn btn-default" href="http://conduspar.com.br/?q=pt-br/produto/cabo-para-media-tensao-epr-105deg">Learn more &raquo;</a></p>
    </div>
    
</div>